<ul class="nav navbar-collapse">
	
		<li class="active" >
			
			<a href="#id1"  data-toggle="collapse" style="text-align: center;">  <i class="icon-large icon-group"></i></a>
		</li>
		<div class="collapse" id="id1" style="text-align: right;">
		
				<a class="" href="#/boys"><i class="icon-large icon-user"></i></a><br>
				<a class="" href="#/girls"><i class="icon-large icon-girl"></i></a>
		</div>
		<li>
			<a href="#id2" data-toggle="collapse" style="text-align: center;">  <i class="icon-large icon-fire"></i></a>
		</li>
		<div class="collapse" id="id2">
				You have clicked me again !
		</div>	
		<li >
			<a href="#id3"  data-toggle="collapse" style="text-align: center;">  <i class="icon-large icon-music"></i></a>
		</li>
		<div class="collapse" id="id3">
			
				You have clicked me again !
		
		</div>	
		<li >
			<a href="#id4"  data-toggle="collapse" style="text-align: center;">  <i class="icon-large icon-cogwheel"></i></a>
		</li>
		<div class="collapse" id="id4">
			
				You have clicked me again !
		
		</div>	

</ul>

<script>
</script>